<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pictureperfect.activity"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <application
        android:name="com.pictureperfect.imagehandling.ImgData"
        android:icon="@drawable/pplogo_high"
        android:label="@string/app_name" >
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SelectBackgroundActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ChooseOptionActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".FinalResultActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CreateAnimationActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EditExistingActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SelectFacesActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>